/* Datatable */
.p-datatable-header {
    background-color: #ffff !important;
    border: none !important;
}

.p-datatable-thead tr th {
    background-color: #006699 !important;
    color: #fff !important;
}

/* Button Add */
.btn-add {
    border-radius: 6px;
    background: #006699;
    color: #ffff;
    height: 48px;
    padding-top: 11px;
    padding-bottom: 11px;
    box-shadow: inset 0 0 0 0 #ffff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn-add svg {
    fill: #fff;
}

.btn-add:hover {
    border-color: #006699;
    color: #006699;
    box-shadow: inset 0 0 0 50px #ffff;
}

.btn-add:hover svg {
    fill: #006699
}

.download-style {
    border-radius: 6px;
    background: #006699;
    color: #ffff;
    height: 48px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
    box-shadow: inset 0 0 0 0 #ffff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.download-style:hover {
    border: 2px solid #006699;
    color: #006699;
    box-shadow: inset 0 0 0 50px #ffff;
}

/* Label */
.label-nonAktif {
    width: 136px;
    height: 32px;
    padding: 5px 10px 5px 10px;
    border-left: #f66512 5px solid;
    background: #ffe3c2;
    color: #f66512;
    border-radius: 5px;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.label-Aktif {
    width: 136px;
    height: 32px;
    padding: 5px 10px 5px 10px;
    border-left: #5bb07f 5px solid;
    background: #dcffeb;
    color: #5bb07f;
    border-radius: 5px;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.label-Retur {
    width: 136px;
    height: 32px;
    padding: 5px 10px 5px 10px;
    border-left: #eb4034 5px solid;
    background: #e968685e;
    color: #eb4034;
    border-radius: 5px;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}